@import "reset.css";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:wght@700&display=swap');
@font-face {
  font-family: 'Glober';
  src: url(/fonts/Glober SemiBold Free.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.box {
  position: relative;
  padding: 0 207px 0 207px;
}
a {
  color: #FFF;
  text-decoration: none;
}
a:link {
  color: #FFF;
}
nav {
  position: fixed;
  background-color: black;
  width: 100%;
  height: 90px;
  padding-top: 27px;
  padding-bottom: 27px;
  z-index: 1;
}
li {
  font-family: Ubuntu;
  display: inline-block;
  color: white;
  font-weight: 600;
  font-size: 30px;
  line-height: 36px;
  margin-right: 64px;
  transition: 1000ms;
  cursor: default;
}
.about:hover {
  background: linear-gradient(45deg, #FF2525 , #FBC332 , #A9DA40);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.schedule:hover {
  background: linear-gradient(45deg, #D2CF3A , #ACDA40 , #E0E339);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.place:hover {
  background: linear-gradient(45deg, #E6E438 , #A4EF43 , #2DFF7A);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.posters:hover {
  background: linear-gradient(45deg, #32FF9B , #35FFAB , #39FECA);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.clothes:hover {
  background: linear-gradient(45deg, #39F8E9 , #39C9FF , #6754E9);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   color: #0B2349;
}
.about {
  background: linear-gradient(45deg, #FF2525 , #FBC332 , #A9DA40);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
}
ul {
  text-align: center;
}

/*навигация*/

.pictureOne {
  width: 100%;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
h1 {
  transform: translateY(-540px);
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 600;
  font-size: 96px;
  line-height: 115px;
  text-align: center;
  color: white;
}
.btn {
  position: absolute;
  font-family: Ubuntu;
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 55px;
  color: #FFFFFF;
  background: #000000;
  border-radius: 69px;
  width: 516px;
  height: 110px;
  border: 1px solid white;
  left: 50%;
  margin-right: -50%;
  margin-top: -64px;
  transform: translate(-50%, -50%)
}
.btn:hover {
  background: linear-gradient(crimson, gold, yellowgreen, teal, crimson);
  animation: background 2s infinite alternate;
}
.date {
  text-align: center;
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 43px;
  line-height: 52px;
  color: #000000;
}
.slider {
  position: relative;
  padding-bottom: 21px;
  width: 1190px;
  height: 789px;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
  margin-top: 467px;
  background-image: url(../img/img-slider.jpg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.slide1 {
  width: 37px;
  height: 37px;
  border-radius: 50px;
  display: inline-block;
  transform: translate3d(504px, 731px, 0);
  margin-right: 25px;
  background: linear-gradient(180deg, #FF2525 , #FBC332 , #A9DA40);
  background-size: 200% 200%;

}
.slide2 {
  width: 37px;
  height: 37px;
  background: #FFFFFF;
  border-radius: 50px;
  display: inline-block;
  transform: translate3d(504px, 731px, 0);
  margin-right: 25px;
}
.slide3 {
  width: 37px;
  height: 37px;
  background: #FFFFFF;
  border-radius: 50px;
  display: inline-block;
  transform: translate3d(504px, 731px, 0);
  margin-right: 25px;
}
.arrow-left {
  transform: translate3d(250px, 728px, 0);
}
.arrow-right {
  transform: translate3d(454px, 728px, 0);
}
.info-first {
  font-family: Montserrat;
  font-style: normal;
  font-weight: normal;
  font-size: 30px;
  line-height: 37px;
  text-align: center;
  color: #000000;
  transform: translateY(-347px);
}
h3 {
  font-family: Ubuntu;
  font-style: normal;
  font-weight: 600;
  font-size: 48px;
  line-height: 58px;
  text-align: center;
  color: #7E7E7E;
  transform: translateY(-211px);
}
.portfolio {
  margin-bottom: 228px;
}
.vk {
  position: absolute;
  width: 121px;
  height: 121px;
  margin-right: 38px;
  left: 50%;
  margin-right: -50%;
  margin-top: -334px;
  transform: translate(-110%, -50%);

}
.hse {
  position: absolute;
  width: 121px;
  height: 121px;
  left: 50%;
  margin-right: -50%;
  margin-top: -334px;
  transform: translate(10%, -50%);

}
.partners {
  transform: translateY(-181px);
}
.logos {
  position: absolute;
  left: 50%;
  margin-right: -50%;
  margin-top: -100px;
  transform: translate(-50%, -50%)
}
